body {
  width: 95%;
  background-color: #000000;
  padding: 0;
  margin: 0;
  font-family: 'Century Gothic', sans-serif;
  src: url('../fonts/Muli-regular/Muli-regular.eot');
  color: white;
}
body::focus {
  border: none;
}
.container {
  width: 15%;
  min-width: 200px;
  display: inline-block;
  padding: 2px 0 auto 0;
  vertical-align: top;
  margin: 10px;
  padding: 10px;
}
.pane {
  text-align: left;
  width: 100%;
  min-width: 200px;
  height: auto;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 1px 1px 1px;
  background-color: rgba(35, 35, 35, 0.7);
  display: inline-block;
  position: relative;
  margin: 0 0 15px 0;
}
.chamfer::before,
.chamfer::after {
  width: 20px;
  height: 20px;
  background: #000000;
  content: '';
  position: absolute;
  transform: rotate(45deg);
  display: inline-block;
}
.chamfer::before {
  top: -12px;
  left: -12px;
  box-shadow: 2px 0px 1px -1px #ffffff;
}
.chamfer::after {
  bottom: -12px;
  right: -12px;
  box-shadow: -2px 0px 1px -1px #ffffff;
}
#sketch {
  border-style: solid;
  border-width: 1px;
  border-color: #ffffff;
  position: relative;
}
canvas {
  display: inline-block;
}
.can {
  background-color: #000000;
  display: inline-block;
  padding: 0px;
}
.can::focus {
  border: none;
}
.can::before,
.can::after {
  width: 20px;
  height: 20px;
  background: #000000;
  content: '';
  position: relative;
  transform: rotate(45deg);
}
.can::before {
  top: -12px;
  left: -12px;
  box-shadow: 2px 0px 1px -1px #ffffff;
}
.can::after {
  background: red;
  bottom: -12px;
  right: -12px;
  box-shadow: -2px 0px 1px -1px #ffffff;
}
#closeleft {
  display: block;
  width: 5px;
  height: 10px;
  margin: 5px 5px auto auto;
}
.sidehead {
  text-align: left;
  margin: 15px;
  font-size: 18pt;
}
.slider {
  padding: 3px;
}
.note {
  padding: 0 0 0 10px;
  margin: 0px 0 5px 0;
}
input[type=range] {
  -webkit-appearance: none;
  height: 1px;
  width: 80%;
  margin: 1px;
  background: none;
}
input[type=range]::focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  height: 1px;
  background: #ffffff;
  border: 1px;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #ffffff;
  height: 11px;
  width: 10px;
  background: white;
  margin-top: -5px;
}
input[type=range] {
  -webkit-appearance: none;
  height: 1px;
  width: 80%;
  margin: 1px;
  background: none;
}
input[type=range]::focus {
  outline: none;
}
input[type=range]::-moz-range-track {
  height: 1px;
  background: white;
  border: 1px;
}
input[type=range]::-moz-range-thumb {
  border: 1px solid #ffffff;
  height: 11px;
  width: 10px;
  background: white;
  margin-top: -5px;
}
