body {
  width: 95%;
  background-color: #000000;
  padding: 0;
  margin: 0;
  font-family: 'Century Gothic', sans-serif;
  src: url('../fonts/Muli-regular/Muli-regular.eot');
  color: white;
}
body::focus {
  border: none;
}
.container {
  width: 15%;
  min-width: 200px;
  display: inline-block;
  padding: 2px 0 auto 0;
  vertical-align: top;
}
.pane {
  text-align: left;
  width: 100%;
  min-width: 200px;
  height: auto;
  border-radius: 0 8px 0px 0;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 1px 1px 0;
  background-color: rgba(35, 35, 35, 0.7);
  display: inline-block;
  position: relative;
  margin: 0 0 10px 0;
}
#sketch {
  border-style: solid;
  border-width: 1px;
  border-color: white;
  position: relative;
}
.canvas {
  background-color: #000000;
  display: inline-block;
}
.canvas::focus {
  border: none;
}
#closeleft {
  display: block;
  width: 5px;
  height: 10px;
  margin: 5px 5px auto auto;
}
.sidehead {
  text-align: left;
  margin: 15px;
  font-size: 18pt;
}
.slider {
  padding: 3px;
}
.note {
  padding: 0 0 0 10px;
  margin: 0px 0 5px 0;
}
input[type=range] {
  -webkit-appearance: none;
  height: 1px;
  width: 80%;
  margin: 1px;
  background: none;
}
input[type=range]::focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  height: 1px;
  background: white;
  border: 1px;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #FFFFFF;
  height: 11px;
  width: 10px;
  background: white;
  margin-top: -5px;
}
